
html {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


div {
    display: block;
}

@media screen and (min-width: 600px) {
}

header {
    background-color: #fff;
    background: rgba(255,255,255,.95);
    position: fixed;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 1px 1px 0 rgb(140 140 140 / 15%);
    width: 100%;
    padding: 20px;
}

ul.header-list {
    margin: 0 50px 0 0 ;
    float: right; /* ulを右寄せに */

}

ul.header-list li {
    display: inline;
    float: left; /* 縦並びのliを左から横並びに */
    margin: 0 20px 0 0 ;
}

div#main {
    background-color: #f7fcfc;
    padding-top: 100px;
    height: 1000px;
    scroll-snap-type: y;
}

div.contents-wrapper {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding : 24px 24px 0 24px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

div.sns-contents {
    padding: 16px;
    width: 80px;
    grid-area: 1 / 1 / 2 / 2;
    position: sticky; /* 止める要素 要素はフロートする*/ 
    position: -webkit-sticky; /* Safari ではプレフィックス（-webkit）を加える必要がある*/
    /* 要素を定義すると、自動的に親要素（div.contents-wrapper）がスティッキーコンテナとして定義される*/
    top: calc(56px + 24px + 16px + 32px - 16px); /* 止める要素 */
} 

div.sns-contents li {
    padding: 0 0 10px 0;
}

i.sns-icon {
    font-size: 2em/* 大きさを２倍に */
}

div.text-contents {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    grid-area: 1 / 2 / 2 / 5; 
}

div.news-contents {
    grid-area: 1 / 5 / 2 / 6;
    position: sticky; /* 止める要素 */
    position: -webkit-sticky; /* Safariプレフィックス（-webkit）を加える必要がある */
    top: calc(56px + 24px + 16px + 32px - 16px); /* 止める要素 */
    margin-left: 20px;
}

aside {
    background-color: #dad9e6;
}

footer {
    background-color: #d1d8da;
    padding: 10px 10px;
}

p.copyright {
    text-align: center;
}

/* スマホ用デザイン利かせたい */
@media (max-width: 599px) {

    header {
        background-color: #e5d5ed;
        position: fixed;
        width: 100%;
        height: 100px;
        padding: 10px 10px;
    }

    div#main { background-color: skyblue;}

    div.sns-contents {
        padding: 0;
        width: 80px;
        grid-area: 1 / 1 / 2 / 2;
        position: sticky; /* 止める要素 */
        top: calc(56px + 24px + 16px + 32px - 16px); /* 止める要素 */
        scroll-snap-align: start;
    } 

    i.sns-icon {
        font-size: 1.5em/* 大きさを1.5倍に */
    }

    footer {
        background-color: #d1d8da;
        padding: 10px 10px;
    }
}

/* できた */
/* 原因：meta name="viewport" htmlにを記述していなかった */