
html {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

div {
    display: block;
}

header {
    background-color: #fff;
    background: rgba(255,255,255,.95);
    position: fixed;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 1px 1px 0 rgb(140 140 140 / 15%);
    width: 100%;
    height: 60px;
    padding: 20px;
}

div#header-title {
    float: left;
}

nav.pc-header-list ul,
nav.sp-header-list ul {
    display: flex;
    list-style: none;
    float: right; /* ulを右寄せに */
}

nav.pc-header-list li {
    margin: 0 0 0 20px;
}

/*** ハンバーガーメニューの設定 ***/
nav.sp-header-list ul {
    display: none; /* ヘッダーのspハンバーガーメニューを非表示 */
}

@media (max-width: 768px) {

    nav.pc-header-list ul {
        display: none; /* ヘッダーのpcメニューを非表示 */
    }

    #hamburger {
        background-color: transparent; /* 背景を透明に */
        position: relative; /* ハンバーガーの横線の位置を決めるための基準 */
        cursor: pointer; /* カーソルを表示（指差しマーク） */
        margin: 0 0 0 auto; /* 左側に余白を作り、ハンバーガーメニューを右端に配置 */
        height: 60px; /* ヘッダーの高さと同じ */
        width: 60px; /* 高さと同じ */

    }

    .icon span {
        position: absolute; /* 親要素の#hamburgerを基準に位置を指定 */
        left: 15px; /* #hamburgerの内側左から15pxに横線を配置（幅60pxなので右からも15px） */
        width: 30px; /* 横線の幅 */
        height: 4px; /* 横線の高さ */
        background-color: violet; /*  横線の色 */
        border-radius: 8px; /* 角を丸く */
        transition: ease 0.75s; /* 変化の時間（easeは初期値） */
    }

    /* ハンバーガーの線 */
    .icon span:nth-of-type(1) {
        top: 16px;
      }
      .icon span:nth-of-type(2) {
        top: 28px;
      }
      .icon span:nth-of-type(3) {
        bottom: 16px;
      }

      .close span:nth-of-type(1) {
        transform: rotate(45deg); /*反時計回りに45度回転*/
        top: 28px;
      }
    
      .close span:nth-of-type(2) {
        opacity: 0;
      }
    
      .close span:nth-of-type(3) {
          transform: rotate(-45deg); /*時計回りに45度回転*/
          top: 28px;
      }
}

/*** ハンバーガーメニュー ここまで ***/

div#main {
    background-color: #f7fcfc;
    padding-top: 60px;
    height: 1000px;
    scroll-snap-type: y;
}

div.contents-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding : 24px 24px 0 24px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

div.sns-contents li {
    padding: 0 0 10px 0;
}

i.sns-icon {
    font-size: 2em/* 大きさを２倍に */
}

div.text-contents {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    grid-area: 1 / 2 / 2 / 5; 
}

div.news-contents {
    grid-area: 1 / 5 / 2 / 6;
    position: sticky; /* 止める要素 */
    position: -webkit-sticky; /* Safariプレフィックス（-webkit）を加える必要がある */
    top: calc(56px + 24px + 16px + 32px - 16px); /* 止める要素 */
    margin: 20px;
}

aside {
    background-color: #dad9e6;
}

footer {
    background-color: #d1d8da;
    padding: 10px 10px;
}

div.sns-contents {
    display: flex;
    list-style: none;
} 

p.copyright {
    text-align: center;
}

 スマホ用デザイン利かせたい */
@media (max-width: 599px) {

    header {
        background-color: #fff;
        position: fixed;
        width: 100%;
        height: 100px;
        padding: 10px 10px;
    }

    ul.header-list {
    position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: aqua;
    }
    
    ul.header-list li {
    position: absolute;
	left: 10px;
	width: 20px;
	height: 1px;
	background-color: #333333;
    }

    div#main {
        background-color: #f7fcfc;
    }

    div.contents-wrapper {
        padding : 12px;
    }

    div.sns-contents {
        padding: 0;
        width: 80px;
        grid-area: 1 / 1 / 2 / 2;
        position: sticky; /* 止める要素 */
        top: calc(56px + 24px + 16px + 32px - 16px); /* 止める要素 */
        scroll-snap-align: start;
    } 

    i.sns-icon {
        font-size: 1.5em/* 大きさを1.5倍に */
    }

    div.text-contents {
        padding: 12px;
    }

    div.news-contents {
        margin-left: 12px;
    }

    footer {
        background-color: #d1d8da;
        padding: 10px 10px;
    }
}

/* できた */
/* 原因：meta name="viewport" htmlにを記述していなかった */